* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --icons-color: #007bff;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-container {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch-btn {
  margin: 1em;
  padding: 0.3em 1em;
  background-color: var(--icons-color);
  color: white;
  border: none;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0.6em;
}

.switch-btn:hover{
  cursor: pointer;
}

.submit-file{
  padding: 0.3em 1em;
  font-size: 20px;
  background-color: var(--icons-color);
  color: white;
  border: none;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0.6em;
}

.submit-file:hover{
  cursor: pointer;
}

.btn-switch-containder {
  width: 100%;
}

.border {
  width: 40%;
  border: 1px solid gray;
  border-radius: 2em;
  padding: 0 2em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  height: 60vh;
  width: 80%;
    margin: 2em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 1.7em;
}

.head-icon {
  color: var(--icons-color);
}
.cloud-icon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 15px;
}

.x-button {
  height: 5vh;
}

#close-btn {
  border: none;
  background-color: transparent;
}

#close-btn:hover {
  cursor: pointer;
}

.dotted-border {
  border: 0.14em dashed gray;
  border-radius: 1.7em;
  margin: 2em;
  height: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashed {
  margin: 0.4em;
}

#p-dashed {
  color: rgb(138, 138, 138);
}

.custom-file:hover {
  cursor: pointer;
}
.icon {
  font-size: 40px;
  color: var(--icons-color);
}

.file-border {
  border: 1px solid gray;
  border-radius: 1em;
  padding: 1em;
  margin: 2em;
  height: 90px;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: space-between;
}

.fa-file {
  font-size: 2em;
  color: var(--icons-color);
}

.file-size-text {
  color: gray;
  font-size: 15px;
}

.file-border-text-holder {
  margin-left: -4em;
}
