*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --btn-color: #007bff;
    --box-admin-color: rgb(243, 243, 243);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.admin-container{
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 1em;
    padding: 1em;
    height: 50vh;
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.3);
}

.frame{
    width: 100%;
    height: 290px;
    overflow-y: auto;
    padding: 0.5em;  
}

.text-admin-container{
    display: flex;
    flex-direction: column;
}
.member-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: var(--box-admin-color);
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.3);
    padding: 0.6em;
    border-radius: 0.5em;
    margin: 2em;
}

h3{

}


p{
    margin: 0.3em 0 0.7em 1em;
    color: gray;
    font-size: 12px;
    
}

.role-btn{
    padding: 2px 15px;
    border-radius: 5px;
    border: 1px solid;
    background-color: var(--btn-color);
    color: white;
}

.role-btn:hover{
    cursor: pointer;
}