* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 1.5em;
  height: 60vh;
  width: 28%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 1.7em;
}

.cloud-icon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 15px;
}

.x-button {
  height: 5vh;
}

#close-btn {
  border: none;
  background-color: transparent;
}

#close-btn:hover {
  cursor: pointer;
}

.dotted-border {
  border: 0.14em dashed gray;
  border-radius: 1.7em;
  margin: 2em;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashed {
  margin: 0.4em;
}

#p-dashed {
  color: rgb(138, 138, 138);
}

.custom-file:hover {
  cursor: pointer;
}
.icon {
  font-size: 40px;
}
